* {
  margin: 0;
  padding: 0;
}

.point-time {
  display: inline-block;
  position: absolute;
  width: 28px;
  height: 28px;
  top: 17px;
  left: 18.5%;
  margin-left: 2px;
  border-radius: 50%;
  text-align: center;
  font-size: 25px;
  color: #fff;
  box-shadow: 0 0 0 5px #fff;
}

.text-red {
  color: #f6393f;
}

.text-blue {
  color: #1c87bf;
}

.text-green {
  color: #000;
}

.text-yellow {
  color: #ffb902;
}

.text-purple {
  color: #d32d93;
}

.point-red {
  background-color: #f6393f;
}

.point-blue {
  background-color: #1c87bf;
}

.point-green {
  background-color: #0EC08D;
}

.point-yellow {
  background-color: #ffb902;
}

.point-purple {
  background-color: #d32d93;
}

.approveContent article {
  position: relative;
}
.approveContent article > h3 {
  width: 15%;
  height: 20px;
  line-height: 20px;
  text-align: right;
  font-size: 1.4em;
  color: #1d1d1d;
  padding: 10px 0 20px;
}
.approveContent article section {
  padding: 0 0 17px;
  position: relative;
  margin-top: -.29rem;
}
.approveContent article section:before {
  content: "";
  width: 5px;
  top: 17px;
  bottom: -17px;
  left: 23.5%;
  background: #0EC08D;
  position: absolute;
}
.approveContent article section:last-child:before {
  display: none;
}
.approveContent article section time {
  width: auto;
  display: block;
  position: absolute;
}
.approveContent article section time > span {
  display: block;
  text-align: right;
}
.approveContent article section aside {
  color: #3a3a38;
  margin-left: 30%;
  padding-bottom: 15px;
  padding-left: 2%;
}
.approveContent article section .brief {
  color: #9f9f9f;
}
